@{
    ViewData["Title"] = "Apagar cliente da Lista";
}

<div class="text-center">
    <h3>Deseja excluir o Cliente(Cliente)?</h3>
</div>

<a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index">Cancelar?</a>
<a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar"> Confirmar!</a>


